@import url("./style-vars.css");

* {
  box-sizing: border-box;
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: var(--color-mono-190);
  color: var(--color-mono-ddd);
}

h1 {
  color: var(--color-purple-200);
}

a {
  color: var(--color-purple-200);
}

a:hover {
  color: var(--color-purple-100);
}

ul {
  list-style: none;
}
